@font-face{font-family:'MBCorpoATitle';src:url('/fonts/MBCorpoATitle.ttf') format('truetype');font-weight:400;font-style:normal;font-display:swap;}
@font-face{font-family:'MBCorpoSText';src:url('/fonts/MBCorpoSText.ttf') format('truetype');font-weight:400;font-style:normal;font-display:swap;}
@font-face{font-family:'MBCorpoATitleCond';src:url('/fonts/MBCorpoATitleCond.ttf') format('truetype');font-weight:400;font-style:normal;font-display:swap;}
